.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 70px;
}

.wrapper {
  background-color: #fafafa;
}

.text {
  width: 50%;
  margin: 0 auto;
  padding: 170px 0 120px;
  font-size: 32px;
  font-weight: 100;
  text-align: center;
  line-height: 36px;
  letter-spacing: 0.1px;
}
